@import "../../node_modules/normalize.css/normalize";

$mainColor: #334264;
$grayColor: #7488ad;

.body {
    background-color: $mainColor;
    color: #fff;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1px;
    overflow-x: hidden;
}

.header {
    &__top {
        background-color: $mainColor;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }
    &__logo {
        margin-top: -50px;
        margin-bottom: 10px;
        width: 160px;
    }
    &__navigation {
        display: inline-block;
    }
    &__menu {
        list-style-type: none;
        margin-left: 150px;
        width: 100%;
    }
    &__item {
        float: left;
        margin: 11px 0 10px 0;
    }
    &__link-item:hover {
        background-color: #fff;
        border-radius: 5%;
        color: #000;
        padding: 40px 20px;
        text-decoration: none;
    }
    &__link-item {
        color: #fff;
        padding: 30px 10px;
        text-transform: uppercase;
        transition-duration: 0.3s;
    }
    &__bottom {
        background: url(../img/header.webp) center no-repeat;
        background-position-y: 65px;
        background-size: cover;
        height: 700px;
        padding-top: 65px;
    }
    &__title {
        font-weight: 600;
        margin-top: 230px;
        margin-bottom: 30px;
    }
    &__text {
        font-size: 26px;
        margin-bottom: 80px;
    }
}

.link-order {
    border: 1px solid #fff;
    color: #fff;
    padding: 15px 70px;
    text-transform: uppercase;
    transition-duration: 0.3s;
}

.link-order:hover {
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

.description {
    &__content {
        background-color: $grayColor;
        margin-top: 230px;
        margin-bottom: -100px;
        padding: 50px;
        opacity: 0;
    }
    &__title {
        font-weight: 600;
        margin-bottom: 40px;
        text-transform: uppercase;
    }
    &__text {
        font-size: 20px;
    }
}

.section-title {
    font-size: 80px;
    padding: 80px;
    text-align: center;
    text-transform: uppercase;
}

.offer {
    height: auto;
    &__image {
        float: right;
        margin-right: -100px;
        opacity: 0;
        max-width: 280px;
    }
    &__image--right {
        float: left;
        margin-left: -180px; 
        opacity: 0;
        max-width: 280px;
    }
    &__description--right {
        float: right;
        margin-top: 300px;
        margin-left: 120px;
        margin-right: -100px;
        opacity: 0;
    }
    &__description {
        margin-top: 300px;
        margin-left: 100px;
        opacity: 0;
    }
    &__title {
        font-size: 36px;
        font-weight: 600;
    }
    &__item {
        list-style-position: -20px;;
    }
    &__price {
        padding-bottom: 25px;
    }
}

.feature {
    text-align: center;
    &__image-container {
        height: 100px;
        margin: 100px 90px 20px;
    }
    &__image {
        height: 0;
        opacity: 0;
    }
}

.other-offers {
    .offer {
        height: 720px;
    }
    .offer__description {
        margin: 220px 0;
        margin-left: 30px;
    }
    .offer__image {
        float: none;
        margin-top: 100px;
        margin-left: -300px;
    }
}

.gallery {
    &__image-container {
        margin-bottom: 35px;
        height: 250px;
    }
    &__image {
        height: 0;
        width: 100%;
    }
}

.questions {
    background-color: #212c44;
    margin-top: 60px;
    padding-bottom: 70px;
    &__block {
        padding: 20px;
    }
    &__title {
        font-size: 22px;
        margin-bottom: 50px;
        opacity: 0;
    }
    &__text {
        opacity: 0;
    }
}

.contacts {
    &__container {
        display: flex;
        justify-content: space-around;
    }
}

.footer__logo {
    width: 200px;
}

@media screen and (max-width: 1200px) {
    .link-order {
        padding: 15px 50px;
    }
    .offer__title {
        font-size: 30px;
    }
}

@media screen and (max-width: 1000px) {
    
}