@import "../../node_modules/normalize.css/normalize";

$mainColor: #334264;
$grayColor: #7488ad;

.body {
    background-color: $mainColor;
    color: #fff;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1px;
    overflow-x: hidden;
}

.header {
    &__top {
        background-color: $mainColor;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }
    &__logo {
        height: 83px;
        margin-top: -50px;
        margin-bottom: 10px;
        width: 160px;
    }
    &__navigation {
        display: inline-block;
    }
    &__menu {
        list-style-type: none;
        margin-left: 150px;
        width: 100%;
    }
    &__item {
        float: left;
        margin: 11px 0 10px 0;
    }
    &__link-item:hover {
        background-color: #fff;
        border-radius: 5%;
        color: #000;
        padding: 40px 20px;
        text-decoration: none;
    }
    &__link-item {
        color: #fff;
        padding: 30px 10px;
        text-transform: uppercase;
        transition-duration: 0.3s;
    }
    &__bottom {
        background: url(../img/header.webp) center no-repeat;
        background-position-y: 65px;
        background-size: cover;
        height: 700px;
        padding-top: 65px;
    }
    &__title {
        font-weight: 600;
        margin-top: 230px;
        margin-bottom: 30px;
    }
    &__text {
        font-size: 26px;
        margin-bottom: 80px;
    }
}

.burger-menu {
    display: none;
}

.link-order {
    border: 1px solid #fff;
    color: #fff;
    padding: 15px 70px;
    text-transform: uppercase;
    transition-duration: 0.3s;
}

.link-order:hover {
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

.description {
    &__content {
        background-color: $grayColor;
        margin-top: 230px;
        margin-bottom: -100px;
        padding: 50px;
        opacity: 0;
    }
    &__title {
        font-weight: 600;
        margin-bottom: 40px;
        text-transform: uppercase;
    }
    &__text {
        font-size: 20px;
    }
}

.section-title {
    font-size: 80px;
    padding: 80px;
    text-align: center;
    text-transform: uppercase;
}

.offer {
    height: auto;
    &__image {
        float: right;
        margin-right: -100px;
        opacity: 0;
        max-width: 280px;
    }
    &__image--right {
        float: left;
        margin-left: -180px; 
        opacity: 0;
        max-width: 280px;
    }
    &__description--right {
        float: right;
        margin-top: 300px;
        margin-left: 120px;
        margin-right: -100px;
        opacity: 0;
    }
    &__description {
        margin-top: 300px;
        margin-left: 100px;
        opacity: 0;
    }
    &__title {
        font-size: 36px;
        font-weight: 600;
    }
    &__item {
        list-style-position: -20px;;
    }
    &__price {
        padding-bottom: 25px;
    }
}

.feature {
    text-align: center;
    &__image-container {
        height: 100px;
        margin: 100px 90px 20px;
    }
    &__image {
        height: 0;
        opacity: 0;
    }
}

.other-offers {
    .offer {
        height: 720px;
    }
    .offer__description {
        margin: 220px 0;
        margin-left: 30px;
    }
    .offer__image {
        float: none;
        margin-top: 50px;
        margin-left: -250px;
        max-width: 250px;
    }
}

.gallery {
    &__image-container {
        margin-bottom: 35px;
        height: 250px;
    }
    &__image {
        height: 0;
        width: 100%;
    }
}

.questions {
    background-color: #212c44;
    margin-top: 60px;
    padding-bottom: 70px;
    &__block {
        padding: 20px;
    }
    &__title {
        font-size: 22px;
        margin-bottom: 50px;
        opacity: 0;
    }
    &__text {
        opacity: 0;
    }
}

.contacts {
    &__container {
        display: flex;
        justify-content: space-around;
    }
}

.footer__logo {
    width: 200px;
}

@media screen and (max-width: 1200px) {
    .link-order {
        padding: 15px 50px;
    }
    .offer__title {
        font-size: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .header {
        &__bottom {
            background-position-x: -1150px;
            text-align: right;
        }
        &__container {
            display: flex;
            justify-content: space-between;
        }
        &__logo {
            margin-top: -14.5px;
        }
        &__menu {
            margin:0 0 0 -50px;
            padding: 0;
            display: none;
            width: auto;
        }
        &__item {
            float: none;
            text-align: center;
        }
        &__link-item {
            padding: 5px;
        }
        &__link-item:hover {
            padding: 5px;
            background-color: $mainColor;
        }
    }
    .burger-menu {
        display: block;
        cursor: pointer;
        margin-top: 5px;
        max-height: 71px;
        width: 65px;
    }
    .description__content {
        opacity: 1;
        margin-top: 100px;
        margin-bottom: 0;
    }
    .offer {
        &__image, &__image--right  {
            float: none;
            margin-left: 33%;
            opacity: 1;
            width: 100%;
        }
        &__description {
            margin: 50px 0 50px 28%;
            opacity: 1;
        }
        &__description--right {
            float: none;
            margin: 50px 0 50px 28%;
            opacity: 1;
        }
    }

    .feature {
        &__image-container {
            margin: 70px 0 20px;
        }
        &__image {
            opacity: 1;
            height: auto;
        }
    }

    .other-offers {
        .offer__image {
            margin: 50px 0;
        }
        .offer__title{
            font-size: 24px;
        }
        .offer__description {
            margin: 0;
        }
        .link-order {
            padding: 10px 20px;
        } 
    }

    .gallery{
        &__image-container {
            height: auto;
            margin-bottom: 30px;
        }
        &__image {
            height: auto;
            opacity: 1;
        }
    }

    .questions {
        &__block {
            background-color: $mainColor;
            height: 400px;
        }
        &__title {
            opacity: 1;
        }
        &__text {
            opacity: 1;
        }
    }


}

@media screen and (max-width: 768px) {
    .header {
        &__bottom {
            background-position-x: -1380px;
            color: #000;
        }
        &__title {
            margin-top: 370px;
        }
        &__text {
            margin-bottom: 50px;
        }
    }

    .description__content {
        padding: 20px;
    }
    
    .link-order {
        background-color: #fff;
        color: black;
        text-align: center;
        width: 100%;
    }

    .section-title {
        font-size: 40px;
    }

    .offer {
        &__image, &__image--right{
            margin-left: 25%;
            width: 60%;
        }
        &__description, &__description--right {
            margin-left: 0%;
            width: 100%;
        }
    }

    .other-offers {
        .offer {
            margin-top: 50px;
        }
        .offer__image {
            width: 70%;
            margin-top: 0px;
            margin-left: 27%;
        }
        .link-order {
            padding: 15px 50px;
        }
    }

    .questions {
        &__block {
            height: auto;
            margin-bottom: 30px;
        }
    }

    .contacts__number {
        margin-right: 10px;
    }
}

@media screen and (max-width: 420px) {
    
    .header__menu {
        margin-top: 70px;
        margin-left: -150px;
    }
    .header__title {
        margin-top: 350px;
    }
    .section-title {
        padding: 80px 0;
        font-size: 30px;
    }
    .offer {
        &__description {
            width: 100%;
        }
        .link-order {
            padding: 10px 15px;
        }
    }

    .contacts__container {
        display: block;
        height: 200px;
        text-align: center;
    }
}